
    body {
        background-color: #f5f7fa;
    }

    .card {
        border-radius: 12px;
    }

    .table-hover tbody tr:hover {
        background-color: #eef6ff;
        transition: 0.3s;
    }

    .badge {
        font-size: 13px;
    }

    @media print {
        #searchInput {
            display: none;
        }
        button {
            display: none;
        }
    }
